{% extends 'main/base.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <input type="text" id="Username" placeholder="Username" name="Username" value="{{username}}" required><br><br>
        <input type="password" id="Password" placeholder="Password" name="Password" required><br><br>
        <input type="submit" id="Login" value="Login" name="Login">
        <input type="submit" id="Register" value="Register" name="Register">
    </form>
{% endblock %}